@import url('../vendor/bootstrap/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&amp;display=swap');
@import url('../icons/bootstrap-icons/bootstrap-icons.css');
@import url('../icons/remix-icon/remixicon.css');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Base CSS */

:root {
  --color-primary: #92e3a9;
  --color-secondary: #253c2b;
  --color-light: #e5f3e9;
  --color-dark: #152021;
  --color-dark-2: #1f2f30;
  --color-dark-3: #1b292a;
  --color-success: #63b47a;
}

*::after {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 101%;
}

#main-wrapper {
  transition: all 0.25s ease-in;
  position: relative;
  z-index: 1;
}

.front {
  padding-top: 85px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-success);
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: var(--color-success);
}

strong {
  color: #152c5b;
}

.section-padding {
  padding: 100px 0;
}

::-webkit-scrollbar {
  width: 5px;
}

.text-theme {
  color: var(--color-success);
}
.border-top-theme {
  border-top: 1px solid var(--color-light);
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.c-pointer {
  cursor: pointer;
}

.section-title {
  margin-bottom: 75px;
}
.section-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.triangle-top-light {
  position: relative;
}
.triangle-top-light::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99.5vw;
  border-color: transparent transparent #fafbfe transparent;
  top: -50px;
}

.triangle-bottom-light {
  position: relative;
}
.triangle-bottom-light::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99.5vw;
  border-color: transparent transparent #fafbfe transparent;
  bottom: -50px;
  transform: rotate(180deg);
}

.triangle-top-dark {
  position: relative;
}
.triangle-top-dark::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99.5vw;
  border-color: transparent transparent #0e0b2b transparent;
  top: -50px;
}

.triangle-bottom-dark {
  position: relative;
}
.triangle-bottom-dark::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99.5vw;
  border-color: transparent transparent #0e0b2b transparent;
  bottom: -50px;
  transform: rotate(180deg);
}

/* Buttons */

.btn-theme {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: rgba(26, 26, 26, 0.092) 0px 7px 20px 0px;
}

.btn-theme:hover {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
  box-shadow: rgba(26, 26, 26, 0.092) 0px 7px 20px 0px;
}

.btn-outline-theme {
  background-color: inherit;
  color: var(--color-success) !important;
  border: 1px solid var(--color-success);
  box-shadow: rgba(26, 26, 26, 0.092) 0px 7px 20px 0px;
}

.btn-outline-theme:hover {
  color: #fff !important;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-shadow: rgba(26, 26, 26, 0.092) 0px 7px 20px 0px;
}

button,
.btn {
  color: #fff;
  padding: 5px 15px;
  font-weight: 700;
}
button:hover,
button:focus,
button:active,
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #fff;
}

/* End Buttons */

/* End Base  */

/* Header */

.brand-logo {
  margin: 20px 25px 20px;
}

.header {
  padding: 10px 0px;
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  z-index: 02;
  background: #fff;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
}

.header .brand-logo {
  display: none;
}

.header.landing {
  padding: 20px 0px;
  left: 0px;
}
.header.landing a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.landing .brand-logo {
  display: block;
  margin: 0px !important;
}
.header.landing .brand-logo img {
  filter: none;
  margin-right: 10px;
}

/* End Header */

/* Navbar */
.main-logo {
  font-size: 1.58rem;
  font-weight: 700;
  font-family: 'Schibsted Grotesk', sans-serif;
  letter-spacing: 1px;
}

.main-logo span {
  color: #444;
}

.navigation .navbar {
  background-color: transparent !important;
  padding: 0px;
}
.navigation .navbar ul {
  align-items: center;
  margin-left: auto;
}

.navigation .navbar ul > li {
  display: inline-block;
  padding: 0px 7px;
  width: 100%;
}

.navigation .navbar ul > li > a {
  font-size: 16.8px;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: #333 !important;
}

.dark-theme .navigation .navbar ul > li > a {
  color: #e1e1e1 !important;
}

.nav-btn {
  font-weight: 500;
  letter-spacing: 0.4px;
  border: 1px solid #92e3a9;

  transition: 0.2s ease;
}

.nav-btn:hover {
  font-weight: 500;
  letter-spacing: 0.4px;
  box-shadow: rgba(62, 59, 59, 0.2) 0px 2px 20px 0px;
}

.signin-btn {
  min-width: 100px;
}

.logo-white {
  display: none;
}

/* End Navbar */

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(38, 48, 56, 0.15);
  display: inline-flex;
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  color: #000;
  z-index: 10;
  transition: bottom 0.3s, transform 0.3s;
}

.scrollup:hover {
  transform: translateY(-0.3rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3.8rem;
  right: 2rem;
}

/* Home Into */

.intro {
  padding: 100px 70px;
}

.intro .intro-content h1 {
  font-size: 3rem;
  width: 110%;
  font-weight: 1000;
  letter-spacing: -1.6px;
  line-height: 1.3;
  font-family: 'Nunito Sans', sans-serif;
}

.intro .intro-content h1 span {
  color: #92e3a9;
}

.intro .intro-content p {
  font-size: 1.125rem;
  color: #718096;
}

.intro .intro-content .intro-btn .btn {
  margin-right: 10px;
  min-width: 130px;
  font-weight: 600;
  font-size: 16px;
  padding: 8px;
}
.intro .intro-content .intro-btn .btn i {
  margin-left: 20px;
  position: relative;
  top: -2px;
}

.home-btn1 {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: 0.2s;
}

.home-btn1:hover {
  background-color: var(--color-success);
  border: 1px solid var(--color-success);
  box-shadow: rgba(26, 26, 26, 0.092) 0px 7px 20px 0px;
}

.intro .intro-content .more {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.intro .intro-content .more span {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 1px dashed var(--color-success);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
}
.intro .intro-content .more span i {
  line-height: 0;
}

.intro-slider {
  position: relative;
}
.intro-slider .slider-item {
  transform: scale(1.06);
  position: relative;
}
.intro-slider .slider-item img {
  border-radius: 50px;
  transform: scale(1.06);
  width: 100%;
  margin-left: -3rem;
  margin-top: -2rem;
  animation: zoomIn 1s ease forwards, floatImage 3.6s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-26px);
  }

  100% {
    transform: translateY(0);
  }
}

.intro-slider .slider-item .slider-item-avatar {
  position: relative;
  padding: 20px;
  display: flex;
}
.intro-slider .slider-item .slider-item-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin-right: 15px;
}
.intro-slider .slider-item .slider-item-avatar h5 {
  margin-bottom: 0px;
}
.intro-slider .slider-item .slider-item-avatar p {
  margin-bottom: 0px;
}

/* End Home Intro */

/* Card */
.sec-section {
  padding: 90px 0;
}

.sec-head {
  margin-bottom: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.card {
  border: 1px solid #eaecf3;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 14px 0px;
  background: #fff;
  transition: 0.32s;
}
.card:hover {
  transform: translateY(-16.5px);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.171) 0px 2px 18px 0px;
}
.card-title {
  font-size: 17.4px;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin-bottom: 9px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-dark-2);
}
.card .card-body {
  padding: 30px;
  background: #fff;
  border-radius: 8px;
}

/* End Card */

/* Trending Items */
.card-body {
  transition: 0.3s;
}

.card-body:hover {
  background-color: rgb(238, 253, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.card-title {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

.items .creator {
  position: absolute;
  bottom: -5px;
  right: 20px;
  border-radius: 100px;
}

.items .btn {
  min-width: 100%;
  margin: 5px 5px;
  border-radius: 9px;
  padding: 12px;
}

.items .btn:hover {
  box-shadow: rgba(62, 59, 59, 0.2) 0px 2px 20px 0px;
}

/* End Trending Items */

/* Collections Section */

.th-head {
  font-family: 'Nunito Sans', sans-serif;
}

.top-collection-content {
  border: 1px solid #eaecf3;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.05);
  transition: 0.26s;
}

.top-collection-content:hover {
  border: 1px solid rgba(146, 145, 145, 0.714);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.138);
  transform: scale(1.1);
}
.top-collection-content .serial {
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
  font-weight: 700;
  color: #152c5b;
}
.th-cahead {
  padding-bottom: 4px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}
.top-collection-content .top-img img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}
.top-collection-content h5 {
  margin-bottom: 0px;
  font-size: 1rem;
}
.top-collection-content p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

/* End Collections Section */

/* Create Section */

.create-sell-content {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
  padding: 50px 30px 30px;
  border-radius: 0.75rem;
  background-color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  transition: 0.3s;
}
.create-sell-content:hover {
  background-color: #f3f4ff;
  transform: scale(1.08);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.create-sell-content .create-sell-content-icon {
  width: 75px;
  height: 75px;
  background: var(--color-primary);
  color: #fff;
  font-size: 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
}
.create-sell-content .create-sell-content-icon i {
  line-height: 0px;
}

/* Create Section */

/* Categories Section */

.browse-cat {
  text-align: center;
}
.browse-cat:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 20px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transform: translateY(-15px);
}
.browse-cat h4 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.4px;

  margin-bottom: 0px;
}

/* Categories Section */

/* Footer */

.bottom {
  background: var(--color-dark);
  position: relative;
}
.bottom::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 99.5vw;
  border-color: transparent transparent var(--color-dark) transparent;
  top: -50px;
}
.bottom .bottom-logo p {
  color: var(--color-primary);
  line-height: 30px;
}

.main-logof {
  font-size: 2rem;
  font-weight: 800;
}

.bottom .bottom-widget .widget-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.bottom .bottom-widget ul li a {
  color: var(--color-primary);
  font-weight: 400;
  margin-bottom: 10px;
  display: inline-block;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.09);
  background: var(--color-dark);
  padding: 20px 0px;
  position: relative;
  bottom: 0;
}
.footer .copyright {
  position: relative;
  text-align: left;
}
.footer .copyright p {
  margin: 0;
  font-size: 14px;
  color: var(--color-primary);
}
.footer .copyright p a {
  color: var(--color-success);
  font-weight: 700;
}
.footer .footer-social {
  text-align: right;
}
.footer .footer-social li {
  display: inline-block;
}
.footer .footer-social li a {
  color: var(--color-primary);
  opacity: 0.5;
  padding: 0px 10px;
}

/* End Footer */

/* Theme Modes */

.theme-switch i {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.dark-light-toggle {
  margin-right: 10px;
  cursor: pointer;
}
.dark-light-toggle i {
  font-size: 20px;
}
.dark-light-toggle .light {
  display: none;
}

.dark-theme .dark {
  display: none;
}

.dark-theme .light {
  display: block;
  color: #f8d62b;
}

.dark-theme {
  background-color: var(--color-dark-2);
  color: #c0ccda;
}
.dark-theme h1,
.dark-theme h2,
.dark-theme h4,
.dark-theme h5 {
  color: #fff;
}
.dark-theme strong {
  color: #fff;
}
.dark-theme .bg-light {
  background: var(--color-dark) !important;
}
.dark-theme .triangle-top-light::after {
  border-color: transparent transparent var(--color-dark-3) transparent;
}
.dark-theme .triangle-top-dark::after {
  border-color: transparent transparent var(--color-dark-3) transparent;
}
.dark-theme .triangle-bottom-light::before {
  border-color: transparent transparent var(--color-dark-3) transparent;
}
.dark-theme .triangle-bottom-dark::before {
  border-color: transparent transparent var(--color-dark-3) transparent;
}
.dark-theme .header {
  background-color: var(--color-dark-3);
}
.dark-theme .border-top-theme {
  border-top: 1px solid var(--color-dark-3) !important;
}
.dark-theme .card {
  border: 1px solid var(--color-dark-2) !important;
  background: var(--color-dark-3);
}
.dark-theme .card .card-body {
  background: var(--color-dark-3);
}
.dark-theme .btn-outline-theme {
  color: #fff;
}
.dark-theme .top-collection-content {
  border: 1px solid #2c4056;
}
.dark-theme .create-sell-content {
  background: var(--color-secondary);
}
.dark-theme .footer,
.dark-theme .bottom {
  background: var(--color-dark);
}

/* End Theme Modes */

/* Responsive */

@media only screen and (min-width: 1200px) {
  .card .card-body {
    padding: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .section-padding {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 991px) {
  .section-padding {
    padding: 75px 0;
  }

  .header .brand-logo {
    display: none;
    margin: 0px 20px 0px 0px;
  }

  .header.landing a {
    justify-content: flex-start;
  }

  .navigation .navbar ul {
    margin-top: 15px;
  }

  .navigation .navbar ul > li {
    border-bottom: 1px solid #eaecf3;
    margin: 0 15px;
    padding: 7px 15px;
  }

  .navigation .navbar ul > li > a::after {
    position: absolute;
    right: 15px;
    top: 25px;
  }

  .navigation .navbar ul .dropdown > a {
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .navigation .navbar ul li.dropdown:hover a::before {
    opacity: 1;
    bottom: -9px;
  }

  .signin-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-toggler {
    position: absolute;
    right: 200px;
    top: 0;
  }

  .bottom .bottom-widget {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-padding {
    padding: 60px 0;
  }

  .brand-logo {
    display: none;
  }

  .header {
    left: 0;
    padding: 10px 0px;
    background: #fff;
  }
  .header .brand-logo {
    display: block;
  }
  .header .brand-logo img {
    filter: none;
  }
}

@media only screen and (max-width: 575px) {
  .section-padding {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 500px) {
  .section-padding {
    padding: 50px 20px;
  }

  .slider-item {
    width: 80%;
    margin-left: 5.6rem;
    margin-top: 3rem;
  }
}
